In [5]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt

In [12]:
level_1_charging = pd.read_csv('../data/PEV-Profiles-L1.csv')
pev_lev1 = level_1_charging.copy()

In [13]:
#pev_lev1_profile = ProfileReport(level_1_charging, title="PEV Profiles for Level 1 Charging")
pev_dt = pd.to_datetime(pev_lev1.pop('Time'))
pev_lev1.set_index(pev_dt,inplace=True)
pev_lev1.head()

,Vehicle 1,Vehicle 2,Vehicle 3,Vehicle 4,Vehicle 5,Vehicle 6,Vehicle 7,Vehicle 8,Vehicle 9,Vehicle 10,...,Vehicle 339,Vehicle 340,Vehicle 341,Vehicle 342,Vehicle 343,Vehicle 344,Vehicle 345,Vehicle 346,Vehicle 347,Vehicle 348
Time,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-01 00:10:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-01 00:20:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-01 00:30:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-01 00:40:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0