In [1]:
import pandas as pd
import numpy as np

# Single Customer on the feeder

In [2]:
df = pd.read_csv('../data/customer_base_load_profile.csv')
dfdt = pd.to_datetime(df.pop('Time'))
df['Time'] = dfdt
df.set_index('Time',inplace=True)
df.head()

,S avg(Single Customer),P avg(Single Customer),Q avg(Single Customer)
Time,,,
2022-12-10 00:00:00,13.062560,12.979150,1.434199
2022-12-10 00:15:00,12.815461,12.734077,1.404977
2022-12-10 00:30:00,12.600028,12.518345,1.394997
2022-12-10 00:45:00,12.396598,12.315946,1.371906
2022-12-10 01:00:00,12.173690,12.093541,1.352176

In [ ]:
downsampled_cbl = df.resample('5T').interpolate(method='linear')

In [ ]:
downsampled_cbl.to_csv('../data/downsampled_cbl.csv')

In [ ]:
bload_aggs = pd.read_csv('../data/mod_bload_agg.csv')
bload_aggs.head()

In [ ]:
bload_aggs.plot(x='Idx')

# Full Distribution System Downsampling

In [3]:
customer_utilization = pd.read_csv('../data/customer_power_utilization_dummy_data.csv')
customer_utilization.head()

,Time,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P211,P212,P213,P214,P215,P216,P217,P218,P219,P220
0,12:00:00 AM,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,...,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150,12.979150
1,12:15:00 AM,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,...,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077,12.734077
2,12:30:00 AM,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,...,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345,12.518345
3,12:45:00 AM,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,...,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946,12.315946
4,1:00:00 AM,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,...,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541,12.093541

In [4]:
cutil_dt = customer_utilization.pop('Time')
cutil_dt = pd.to_datetime(cutil_dt)
customer_utilization['Time'] = cutil_dt
customer_utilization.set_index('Time',inplace=True)
customer_utilization.to_csv('../data/customer_utilization_xformed.csv')

In [5]:
customer_utilization_hres =  customer_utilization.resample('5T').interpolate(method='linear')

In [6]:
customer_utilization_hres.to_csv('../data/customer_utilization_hres.csv')